<!-- vim: ts=4 sw=4
-->
<h3><TMPL_VAR EXPR="__('Groups')"></h3>

	<form action='AddGroup' method='POST'>
	<table>
		<tr>
			<td><TMPL_VAR EXPR="__('Group name')">:</td>
			<td><input class='inputText' type="text" name="groupname"/></td>
		</tr>
		<tr>
			<td><TMPL_VAR EXPR="__('Group ID')">:</td>
			<td><input class='inputText' type="text" name="gid"/></td>
		</tr>
		<tr>
			<td><TMPL_VAR EXPR="__('Group description')">:</td>
			<td><input class='inputText' type="text" name="groupdescription"/></td>
		</tr>
	</table>
		<div class='help'>
			<p><TMPL_VAR EXPR="__('Help about new ACL creation.')"></p>
		</div>
		<p class='endform'><input class='inputButton' type='submit' name='create' 
			   value='<TMPL_VAR EXPR="__('Create')">'
			   alt='<TMPL_VAR EXPR="__('Create')">'></p>
	</form>



	<div class='acl_list'>
		<table cellspacing='0' class='dataTable'>
			<thead>
				<tr>
					<th width='66%' class='tleft'>
						<TMPL_VAR EXPR="__('ACL Name')">
					</th>
					<th class='thOptions'>
						<TMPL_VAR EXPR="__('Modify')">
					</th>
					<th class='thOptions'>
						<TMPL_VAR EXPR="__('Delete')">
					</th>
				</tr>
			</thead>
			<tbody>
			<TMPL_LOOP NAME="groups">
				<tr class='border'>
					<td>
						<TMPL_VAR NAME="account">
						<TMPL_VAR NAME="desc">
						<TMPL_VAR NAME="gid">
					</td>
					<td class='tcenter'>
						<div class='show'
							 id='hideview<TMPL_VAR NAME="account">'>
							<a href='show'
								onclick="show('<TMPL_VAR NAME="account">');
										 return false;">
								<img src='/data/images/show.png'
									 alt="<TMPL_VAR EXPR="__('Show')">">
							</a>
						</div>
						<div class='hide'
							 id='showview<TMPL_VAR NAME="account">'>
							<a href='show' onclick="hide(); return false;">
								<img src='/data/images/hide.png'
									 alt="<TMPL_VAR EXPR="__('Hide')">">
							</a>
						</div>
					</td>
					<td class='tcenter'>
						<a href='DelGroup?groupname=<TMPL_VAR NAME="account">'>
							<img src='/data/images/delete.png'
								 alt='<TMPL_VAR EXPR="__('Delete')">' />
						</a>
					</td>
				</tr>
				<tr>
					<td>
						<div class='hide' id='<TMPL_VAR NAME="account">'>
					
							<table cellspacing='0' class='iptableaux'>
								<thead>
									<tr>
										<th width='40%' class='tleft'>
											<TMPL_VAR EXPR="__('Group name')">
										</th>
										<th class='thOptions'>
											<TMPL_VAR EXPR="__('Group ID')">
										</th>
										<th class='thOptions'>
										<TMPL_VAR EXPR="__('Group description')">
										</th>
									</tr>
								</thead>
								<tbody>
									<tr><form action='ModGroup'
											  method='POST'>
										<td>
											<input type="hidden"
												   class='inputText'
												   name="groupname"
												   value='<TMPL_VAR NAME="account">'/>
										</td>
										<td>
											<input type="text"
												   class='inputText'
												   name="oldgroupname"/>
										</td>
										<td>
											<input type="text" class='inputText' name="oldgid"/>
										</td>
										<td>
											<input type="text"
												   class='inputText'
												   name="oldgroupdescription"/>
										</td>
										<td>
											<input class='inputButton' type='submit'
										name='modify' 
										value='<TMPL_VAR EXPR="__('Modify')">'
										alt='<TMPL_VAR EXPR="__('Modify')">'>
										</td>
									</form></tr>
				</tbody>
				</table>
				</div>
				</td>
				</tr>
			</TMPL_LOOP>
			</tbody>
		</table>
	</div>

<!-- Users  -->

<h3><TMPL_VAR EXPR="__('Users')"></h3>

	<form action='add_user.cgi' method='POST'>
	<table>
	<tr>
		<td><TMPL_VAR EXPR="__('Account')">:</td>
		<td><input class='inputText' type="text" name="useraccount"/></td>
	</tr>
	<tr>
		<td><TMPL_VAR EXPR="__('User name')">:</td>
		<td><input class='inputText' type="text" name="username"/></td>
	</tr>
	<tr>
		<td><TMPL_VAR EXPR="__('User surname')">:</td>
		<td><input type="text" class='inputText' name="usersurname"/></td>
	</tr>
	<tr>
		<td><TMPL_VAR EXPR="__('User ID')">:</td>
		<td><input type="text" class='inputText' name="uid"/></td>
	</tr>
	<tr>
		<td><TMPL_VAR EXPR="__('Group')">:</td>
		<td><input type="text" class='inputText' name="usergroup"/></td>
	</tr>
	<tr>
		<td><TMPL_VAR EXPR="__('User description')">:</td>
		<td><input type="text" class='inputText' name="userdescription"/></td>
	</tr>
	</table>
	<div class='help'>
		<p><TMPL_VAR EXPR="__('Help about new user creation.')"></p>
	</div>
	<p class='enform'><input class='inputButton' type='submit' name='create' 
			value='<TMPL_VAR EXPR="__('Create')">' alt='<TMPL_VAR
			EXPR="__('Create')">'></p>
	</form>

	<div class='acl_list'>
		<table cellspacing='0' class='dataTable'>
			<thead>
				<tr>
					<th width='66%' class='tleft'><TMPL_VAR EXPR="__('ACL Name')"></th>
					<th class='thOptions'><TMPL_VAR EXPR="__('Modify')"></th>
					<th class='thOptions'><TMPL_VAR EXPR="__('Delete')"></th>
				</tr>
			</thead>
			<tbody>
			<TMPL_LOOP NAME="users">
				<tr class='border'>
					<td><TMPL_VAR NAME="account"></td>
					<td class='tcenter'>
						<div class='show' id='hideview<TMPL_VAR NAME="account">'>
							<a href='show' onclick="show('<TMPL_VAR NAME="account">');return false;">
								<img src='/data/images/show.png' alt="<TMPL_VAR EXPR="__('Show')">">
							</a>
						</div>
						<div class='hide' id='showview<TMPL_VAR NAME="account">'>
							<a href='show' onclick="hide(); return false;">
								<img src='/data/images/hide.png' alt="<TMPL_VAR EXPR="__('Hide')">">
							</a>
						</div>
					</td>
					<td class='tcenter'>
						<a href='del_user.cgi?useraccount=<TMPL_VAR NAME="account">'>
							<img src='/data/images/delete.png' alt='<TMPL_VAR EXPR="__('Delete')">' />
						</a>
					</td>
				</tr>
				<tr>
				<td>
				<div class='hide' id='<TMPL_VAR NAME="account">'>
					
				<table cellspacing='0' class='iptableaux'>
				<thead>
				<tr>
					<th width='40%' class='tleft'><TMPL_VAR EXPR="__('Account')"></th>
					<th class='thOptions'><TMPL_VAR EXPR="__('User name')"></th>
					<th class='thOptions'><TMPL_VAR EXPR="__('User surname')"></th>
					<th class='thOptions'><TMPL_VAR EXPR="__('User ID')"></th>
					<th class='thOptions'><TMPL_VAR EXPR="__('Group')"></th>
					<th class='thOptions'><TMPL_VAR EXPR="__('User description')"></th>
				</tr>
				</thead>
				<tbody>
				<tr>
					<form action='modify_user.cgi' method='POST'>
					<td><input type="hidden" name="useraccount" value='<TMPL_VAR NAME="account">'/></td>
					<td><input class='inputText' type="text" name="olduseraccount"/></td>
					<td><input class='inputText' type="text" name="oldusername"/></td>
					<td><input class='inputText' type="text" name="oldusersurname"/></td>
					<td><input class='inputText' type="text" name="olduid"/></td>
					<td><input class='inputText' type="text" name="oldusergroup"/></td>
					<td><input class='inputText' type="text" name="olduserdescription"/></td>
					<td><input class='inputButton' type='submit' name='modify' 
					value='<TMPL_VAR EXPR="__('Modify')">' alt='<TMPL_VAR
					EXPR="__('Modify')">'></td>
					</form>
				</tr>
								</tbody>
							</table>
						</div>
					</td>
				</tr>
			</TMPL_LOOP>
			</tbody>
		</table>
	</div>
</div>

<script type="text/javascript"><!--
function getElementByClass(classname){
	ccollect=new Array()
	var inc=0;
	var alltags=document.getElementsByTagName("*");
	for (i=0; i<alltags.length; i++){
		if (alltags[i].className==classname)
			ccollect[inc++]=alltags[i];
	}
	return ccollect;
}

function setDefault(){
	elements=getElementByClass("hide");
	var inc=0;
	while (elements[inc]){
		elements[inc].style.display="none";
		inc++;
	}
	inc=0;
	elements=getElementByClass("show");
	while (elements[inc]){
		elements[inc].style.display="inline";
		inc++;
	}
}

function show(id){
	setDefault();
	document.getElementById(id).style.display="block";
	document.getElementById("hideview" + id).style.display="none";
	document.getElementById("showview" + id).style.display="inline";
}

function hide(id){
	setDefault();
}

setDefault();
<TMPL_IF NAME='show'> 
show('<TMPL_VAR NAME="show">');
</TMPL_IF>
//--></script>
