#!/bin/sh

set -e

. /usr/share/debconf/confmodule

# This will be replaced with debian/ebox.scripts-commmon which includes
# helper functions to set the password
#SCRIPTSCOMMON#

# Set the eBox administrator password
set_password() {
    local pass1 pass2
    
    db_get ebox/password1
    pass1="$RET"
    
    db_get ebox/password2
    pass2="$RET"

    if [ "$pass1" != "$pass2" ]; then
        return 1;
    fi

    return 0;
}

# Ask eBox administrator password
conf_password() {
    while true; do
        db_input high ebox/password1 || true
        db_input high ebox/password2 || true
        db_go || true

        if set_password; then
            break
        fi

        db_input high ebox/password_mismatch 
    done
}

conf_password

if [ "$1" = reconfigure ]; then
    store_password
fi

exit 0
