	<div class='squidnew'>
		<form action='' method='POST'>
			<h3><TMPL_VAR EXPR="_('Authentication Mode')"></h3>
			<p><INPUT type="radio" name="yes" value="yes" alt="yes"> Mediante
			las direcciones IP de las Objects</p>
			<p><INPUT type="radio" name="no" value="no" alt="no"> Mediante validacion de usuario</p>
			<div class="help">
				<p>Introduccir las diferencias entre restringir por Object y por nombre de
				usuario.</p>
			</div>
			<p class="endform"><input class='inputButton' type='submit' name='create' 
					value='<TMPL_VAR EXPR="_('Select')">' alt='Select'></p>
		</form>
	</div>
</div>
