Source: ebox
Section: web
Priority: optional
Maintainer: Isaac Clerencia <isaac@warp.es>
Build-Depends: debhelper (>= 4.0.0)
Standards-Version: 3.6.1

Package: ebox
Architecture: all
Depends: sudo, iproute, iptables, apache-perl, libapache-mod-ssl, dhcp3-client, liblog-dispatch-perl, liblog-log4perl-perl, libhtml-mason-perl, liblocale-gettext-perl, liberror-perl, libdevel-stacktrace-perl, libapache-singleton-perl, libapache-authcookie-perl, libgnome2-gconf-perl, libsys-cpu-perl, libsys-cpuload-perl, libintl-perl, libnet-ip-perl, libproc-process-perl, gettext, ${misc:Depends}
Description: eBox base modules
 eBox is a framework for the development and deployment of security-wise
 network services in small and medium-sized networks, offering a simplified
 graphical interface to non expert users. It can be set up as a gateway,
 having some extra features over a usual router.
 .
 http://projects.warp.es/ebox/
